@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  font-family: 'Montserrat' , sans-serif;
}
body{
  background-color: rgba(32, 92, 66, 0.19);
  background-color: #9db19e;
}
section,footer{
  padding: 54px 0;
}
h3{
  font-size: 50px;
}
p{
  color: rgb(255, 255, 255);
}
.container{
  max-width: 1440px;
  margin: 0 auto;
  padding:0 5%;
  gap: 32px;
}
.btn{
  background-color: rgb(78, 142, 99);
  color: #ffffff;
  padding: 15px 20px;
  border-radius: 12px;
  cursor: pointer;
  display: inline-block;
  transition: 0.1s;
}
.btn.animacao-btn{
  animation:"animacao-outline" 1s ease-out infinite;
}
.btn:hover{
  background-color: rgba(50, 106, 69, 0.98);
}
@keyframes animacao-outline {
  from{
outline: 0px solid #4e8e63;
  }
  to{
outline: 13px solid rgba(78, 142, 99, 0.16);
  }
}
header{
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
nav{
  display: flex;
  align-items: center;
  justify-content:space-between ;
  padding-top: 30px;

}
nav ul{
  display: flex;
  align-items: center;
}
nav ul a{
  color: #ffffff;
  margin:0 25px;
  text-transform: uppercase;
  font-size: 14px;
  display: block;
}
nav ul a:not(.btn)::after{
  content: "";
  background-color: #ffffff;
  height: 3px;
  width:0%;
  display: block;
  margin: 0 auto;
  transition:0.3s;
}
nav ul a:hover::after{
  width: 100%;
}
/* menu */
nav .menu-icon{
  cursor:pointer;
  font-size: 25px;
  color: #ffffff;
  display: none;
}
nav .close-icon{
  display: none;
  font-size: 30px;
  color: #ffffff;
}
.banner{
  display: flex;
  justify-content: center;
}
.banner .banner-text{
  margin: 150px;
  text-align: center;
  padding: 0 50px;
}
.banner .banner-text h1{
  font-size: 70px;
  color: #ffffff;
}
.banner .banner-text p{
  font-size: 17px;
  color: white;
  font-weight: lighter;
  margin:15px 0 ;
}
/*faca mais*/
.faca-mais .container{
  display: flex;
  align-items: center;
  background-color: #9db19e;
  gap: 32px;
}
.faca-mais .faca-mais-text{
  width:67%;
  padding: 0 30px;
  border-radius: 20px;
}
.faca-mais .faca-mais-text h3{
  font-size: 41px;
  align-items: center;
  color: black;
}
.faca-mais .faca-mais-text p{
  margin: 5px 0px 10px 0;
  color: black;
}
.faca-mais .faca-mais-img{
  width: 28%;

}
.faca-mais .faca-mais-img img{
  width: 100%;
  border-radius: 20px;
}
/* footer*/
.footer{
  background-color: #415848;
  text-align: center;
}
.footer i{
  color: #415848;
  font-size: 19px;
  background-color: white;
  padding: 10px;
  margin: 3px;
  border-radius: 10px;
}
.footer p{
 margin-top: 10px;
 color:#ffffff;
}
/* pagina sobre*/
.sobre .container{
  display: flex;
  align-items:center;
  justify-content: center;
  background-color: #9db19e;
 flex-direction: column;
  gap: 32px;
}
.sobre .sobre-texto{
  width:70%;
  padding: 0 30px;
  background-color: #699677;
  border-radius: 20px;
}
.sobre .sobre-texto h3{
  font-size: 45px;
}
.sobre .sobre-texto p{
  margin: 5px 0px 10px 0;
  color: black;
}
.sobre .sobre-img{
  width: 85%;
}
.sobre .sobre-img img{
  width: 100%;
  border-radius: 20px;
  
}
@media(max-width:768px){
  .ul{
    position: fixed;
    top:0 ;
    left: 0;
    background: #415848 ;
    width:100% ;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    clip-path: circle(0% at 100% 0);
    transition:0.5s;
  }
  .ul.open{
    clip-path: circle(141.4% at 100% 0);
  }
  .ul a{
    margin: 10px 0;
    font-size: 16px;
  }
  nav .menu-icon{
    display: block;
    
  }
  nav .close-icon{
    display: block;
    position:absolute ;
    top: 72px;
    right: 52px;
  }
  .faca-mais .container {
    flex-wrap: wrap-reverse;
  }
  .faca-mais .faca-mais-text {
    width: 100%;
}

.faca-mais .faca-mais-img {
    width:100%;
  }
  .sobre .container{
    flex-wrap: wrap-reverse;
  }
  .sobre .sobre-texto{
    width: 100%;
  }
  .sobre .sobre-img{
    width: 100%;
  }
}